@Font-face{
    font-family: Big Pixel;
    src:url('../fonts/Pokmn/big pixel demo.otf');
    src:url('../fonts/Pokmn/big pixel Light demo.otf');
    src:url('../fonts/Pokmn/big pixel Shadow demo.otf');
}
@font-face {
    font-family: Sun-Moon;
    src:url('../fonts/Pokmn/font_pack__sun_and_moon_by_mucrush.ttf'););
}
@font-face {
    font-family: Pocket Monk;
    src:url('../fonts/Pokmn/Pocket Monk.otf');
}
@font-face {
    font-family: Pokemon Classic;
    src:url('../fonts/Pokmn/Pokemon Classic.ttf');
}
.container{
    font-family: sans-serif;
}
.submit, .form-control{
    border-radius: 30px;
}
.form-control{
    font-family: sans-serif;
    padding: 10px;
}
.submit, .labels, .card-title, .linkr{
    font-family: "Pokemon Classic";
    font-size: 12px;
}

.submit{
    background-color: #ffcb05 !important;
    font-size: 14px !important;
}
.labels{
    padding-bottom: 15px;
}
.btn:focus, .submit:hover{

    color: #003a70 !important;
    font-size: 16px !important;
}
a:hover{
    font-size: 14px !important;
    text-decoration: none !important;
    color: #ffcb05 !important;
}
.card-title{

    font-size: 20px;
    padding-bottom: 20px !important;
}

.form-control:focus{
    box-shadow: 0 0 0 2px rgba(61, 125, 202, 0.71) !important;
}
.card-body{
    box-shadow: 0 0 0 2px #3d7dca !important;
    border-radius: 10px;
    padding: 25px !important;
    background-color: rgba(255, 255, 255, 0.1)
}
body{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    color: #737373 !important;
}
.section-footer{
    background-color: rgb(0, 27, 67) !important;
    color: rgba(115, 115, 115, 0.8) !important;
    font-family: sans-serif;
    padding: 10px;
}

.navbar{
    background-color: rgb(0, 27, 67) !important;
    color: rgba(115, 115, 115, 0.8) !important;
}
.linkr{
    color: #003a70 !important;
    padding-top: 10px;
}
.navbar-brand{
    background-image: url("../img/logo.PNG");
    background-size: cover;
    width: 166px;
    height: 50px;
    border-radius: 5px;
}
.buscar{
    font-size: 12px !important;
}
.portfolio{
    padding: 20px;
}
.img-thumbnail{
    margin: 5px;
}
.my-4, .my-3{
    font-family: "Pokemon Classic";
}
.containerP{
    background-color: rgba(255, 255, 255, 0.91) !important;
}